app = "yachejka-bot" # Убедись, что имя совпадает с твоим приложением
primary_region = "ams"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false # <--- ЗАПРЕЩАЕМ УСЫПЛЯТЬ БОТА
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

# Настройка проверки здоровья.
# Fly будет пинговать твой Flask-сервер каждые 10 секунд.
# Если бот зависнет, Fly это увидит и перезагрузит его.
[[services.http_checks]]
  interval = "10s"
  timeout = "2s"
  grace_period = "5s"
  restart_limit = 0
  method = "get"
  path = "/"
  protocol = "http"

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
